ul, li {
    list-style: none;
}
nav ul {
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav li {
    float: left;
}
nav li a {
    color: #000;
}
nav img {
    display: inline-block;
}
.nav img {
    width: 130px;
    margin-top: 0px;
    margin-left: -10px;
}
.nav p {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    overflow: hidden;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
    margin: 0;
}
.nav ul {
    position: absolute;
    top: 50px;
    width: 100%;
    display: none;
    z-index: 999;
}
.containe {
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 400px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
nav li:hover {
    background-color: #eee;
    border-bottom:2px solid #f57c07;
}
.nav li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    border-bottom: 1px solid rgb(220, 220, 220);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.banner{
    color: #fff;
    font-size: 14px;
}
.banner h2{
    font-size: 18px;
    margin-top: 150px;
}
.banner .banner_btn{
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100px;
    margin: 50px auto 0;

}
.banner .banner_btn:hover{
    background-color: #eee;
    color: #000;
}
.con2{
    margin: 2vw auto;
    color: #666;
}
.con2 img{
    margin-bottom: 1vw;
}
.con3{
    padding-top: 2vw;
    color: #666;
    width: 100%;
    background-color: #eee;
}
.con3 .con3_2 p{
    color: #000;
    background-color: #bbb;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}
.con3 .con3_2 p:hover{
    background-color: #f57c07;
    color: #fff;
}
.con3 .con3_3{
    margin-bottom: 3vw;
}
.con3 .con3_3 div{
    margin-bottom: 2vw;
}
.con4{
    padding-top: 2vw;
    padding-bottom: 4vw;
}
.con4 h3{
    color: #666;
    margin-top: 2vw;
    margin-bottom: 4vw;
}
.con4 img {
    width: 60%;
}
.con4 .con4_2>div{
    margin-bottom: 3vw;
}
.con5{
    padding: 20px 0 40px;
    background-color: #666666;
    color: #fff;
}
.con5 .text-left{
    padding: 40px 20px;
}
.con6{
    margin-bottom: 4vw;
}
.con6 h1{
    background-color: #f57e07;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
.con6 .row div{
    border: 1px solid #cdcdcd;
}
.con6 .row img{
    height: 100px;
}
.con7{
    padding-top: 2vw;
    padding-bottom: 8vw;
}
.con7 h3{
    color: #666;
    margin-top: 2vw;
    margin-bottom: 4vw;
}
.con7 .con3_2 p{
    color: #000;
    background-color: #bbb;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 2vw;
    transition: all .3s;
}
.con7 .yuan{
    background-color: #f57e07;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    padding: 10px 0 20px;
    text-align: center;
    margin-top: 20px;
}
.con7 .yuan .y1{
    font-size: 18px;
}
.con8{
    background-color: #000;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
.con8 a{
    color: #fff;
}
.con9 .t222 img{
    width: 90%;
}
.index_top {
    height: 50px;
    line-height: 50px;
    background-color: #313131;
    color: #fff;
    overflow: hidden;
}

.index_top a{
    color: #fff;
}
a:hover{
    color: red;
    text-decoration: none;
}
nav li a:hover{
    color: #000;
}
.foot1{
    border-bottom: 1px solid rgb(160, 160, 160)
}
.foot2{
    width: 100%;
    background: #1b1b1b;
    color: #999;
    height: 60px;
    line-height: 25px;
}
.foot2 a,.foot1 a{
    color: #999;
}
.title_q{
    color: rgb(244, 124, 7);
}
.title_e{
    color: rgb(193, 193, 193)
}
.title_c{
    color: rgb(113, 113, 112)
}
.infowindow-content{
    height: 65px;
}
.amap-info-header{
    height: 40px;
    font-size: 16px;
    color: #333;
    text-align: center;
   
    font-weight: bold;
    padding: 10px;
}
.amap-info-body{
    border-top: 1px solid #d9d9d9;
    height: 25px;
    color: #333;
    font-size: 12px;
    line-height:20px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    
}
.con9 .t222 img{
    width: 90%;
}
.tel{
    width:80%;
    margin: 30px auto 100px;
    text-align: center;
    border: 1px solid #eee;
    padding: 10px;
}
.my_fu{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.my_fu .list{
    width: 40%;
    margin: 10px;
    flex-grow: 0;
}
h3{
    font-size: 18px;
}
@media (min-width: 768px) {
    h3{
        font-size: 24px;
    }
    .advantage>img{
        width: 80%;
        display: block;
        margin: 20px auto 30px;
    }
    nav img {
        height: 50px;
        padding: 5px;
        margin-right: 20px;
    }
    .my_fu{
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .my_fu .list{
        width: 160px;
        margin: 10px;
        flex-grow: 0;
    }
    nav li {
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        width: 82px;
        text-align: center;
    }
    .con6 .row img{
        height: 120px;
    }
    .con7 .yuan .y1{
        font-size: 40px;
    }
    .con7 .yuan .y2{
        font-size: 24px;
    }
    .con9 .t222 img{
        width: 70%;
    }
    .con9 .t222 img.t3{
        width: 50%;
    }
    .tel{
        width:400px;
        margin: 30px auto 100px;
        text-align: center;
        border: 1px solid #eee;
        padding: 10px;
    }
    .foot2{
        width: 100%;
        background: #1b1b1b;
        color: #999;
        height: 60px;
        line-height: 60px;
    }
}

@media (min-width: 992px) {
    h3{
        font-size: 24px;
    }
    .advantage>img{
        width: 80%;
        display: block;
        margin: 20px auto 30px;
    }
    #s0 .swiper-container {
        height: 500px;
    }
    .my_fu .list{
        width: 200px;
        margin: 10px;
        flex-grow: 0;
    }
    .foot2{
        width: 100%;
        background: #1b1b1b;
        color: #999;
        height: 60px;
        line-height: 60px;
    }
    .tel{
        width:400px;
        margin: 30px auto 100px;
        text-align: center;
        border: 1px solid #eee;
        padding: 10px;
    }
    nav img {
        height: 80px;
        padding: 5px;
        margin-right: 20px;
    }

    nav li {
        height: 80px;
        line-height: 80px;
        font-size: 14px;
        width: 102px;
        text-align: center;
    }

    .swiper-container {
        height: 500px;
    }
    .banner{
        font-size: 16px;
    }
    .banner h2{
        font-size: 24px;
    }
    .banner h2{
        margin-top: 200px;
    }
    .banner .banner_btn{
        padding: 3px 10px;
        border: 1px solid #fff;
        border-radius: 3px;
        width: 120px;
        margin: 80px auto 0;
    }
    .con5{
        color: #fff;
        /* background:url("./image/b2.jpg") no-repeat ; */
        background-size: 100% 100%;
    }
    .con6 .row img{
        height: 140px;
    }
}

@media (min-width: 1200px) {
    h3{
        font-size: 24px;
    }
    .advantage>img{
        width: 80%;
        display: block;
        margin: 20px auto 30px;
    }  
    .foot2{
        width: 100%;
        background: #1b1b1b;
        color: #999;
        height: 60px;
        line-height: 60px;
    }
    .tel{
        width:400px;
        margin: 30px auto 100px;
        text-align: center;
        border: 1px solid #eee;
        padding: 10px;
    }
    nav img {
        height: 100px;
        padding: 5px 0;
        margin-right: 20px;
    }

    nav li {
        height: 100px;
        line-height: 100px;
        width: 124px;
        text-align: center;
        font-size: 16px;
    }

    .swiper-container {
        height: 600px;
    }
    .banner{
        font-size: 18px;
    }
    #s0 .swiper-container {
        height: 600px;
    }
    .banner h2{
        margin-top: 240px;
    }
    .banner .banner_btn{
        padding: 5px 15px;
        border: 1px solid #fff;
        border-radius: 5px;
        width: 150px;
        margin: 100px auto 0;
    }
    .con6 .row img{
        padding: 5px 0;
    }
}
.intemet .head .active,.active{
    background-color: #f57c07!important;
    color: #fff!important;
}
/* a{
    color: #666!important;
    text-decoration: none;
    
} */

