nav li:nth-child(4) {
    border-bottom: 2px solid #f57c07;
    
}

        .tel img,.tel div{
         display: inline-block;
        
        }
    
        .tel>div{
            font-size: 30px;
            line-height: 50px;
            margin-left: 10px;
            vertical-align: middle;
        }
        #xian{
            display: block;
            font-size: 20px;
            line-height: 20px;
        }
        .con3 {
            padding-top: 2vw;
            color: #666;
            width: 100%;
            background-color: #fff;
        }