nav li:nth-child(3) {
    background-color: #eee;
    border-bottom:2px solid red;
}
#s0 .swiper-container {
    width: 100%;
    height: 400px;
}
#s1 .swiper-container {
    width: 100%;
    height: 400px;
}


.nav_ruan>div{
    margin: 0 auto;
    width: 80%;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background: #efefef;
    border-radius: 5px;
}
/* .nav_ruan>div:hover{
    background:  rgb(244, 124, 7);
    color: #fff;
} */
.weixin img{
    width: 70%;
    border-radius: 50%;
}
.weixin p{
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}
.shiye{
    padding-bottom: 40px;
}
.dec{
    padding-top: 50px;
}
.dec .title_c{
    margin-bottom: 50px;
}
.tel img,.tel div{
 display: inline-block;

}
tel_img{
    width: 100px;
    height: 100px;
}
.tel>div{
    font-size: 30px;
    line-height: 50px;
    margin-left: 10px;
    vertical-align: middle;
}
#xian{
    display: block;
    font-size: 20px;
    line-height: 20px;
}
.ping p{
    box-sizing: border-box;
    word-wrap:break-word;  
    word-break:break-all;  
    overflow: hidden;
    padding: 20px;  
}