<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="raziel_hu">
    <meta name="keywords" content="千寻网络,网站建设,软件开发,APP开发,品牌包装,网络推广,网站外包">
    <title>千寻网络-最新新闻</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../js/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../css/dec.css">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=ea0ae292653b74a800291b29081ebf13"></script>
</head>

<body>
    <div class="index_top hidden-xs">
        <div class="container">
            <p class="pull-left">你好，欢迎来到千寻网络！咨询热线：
                <span style="color: #f5b303;font-size: 18px;">18703995755</span>
            </p>
            <p class="pull-right">
                <a href="#">网站建设</a>&#x3000;|&#x3000;
                <a href="#">APP开发</a>&#x3000;|&#x3000;
                <a href="#">微商城搭建</a>&#x3000;|&#x3000;
                <a href="#">软件定制开发</a>
            </p>
        </div>
    </div>
    <nav>
        <div class="container hidden-xs">
            <a href="../index.html">
                <img src="../image/logo.png" alt="千寻网络公司" class="pull-left" title="千寻网络">
            </a>
            <ul>
                <li>
                    <a href="../index.html">首页</a>
                </li>
                <li>
                    <a href="./jianshe.html">网站建设部</a>
                </li>
                <li>
                    <a href="./ruanjian.html">软件开发事业部</a>
                </li>
                <li>
                    <a href="./pinpai.html">品牌包装设计部</a>
                </li>
                <li>
                    <a href="./tuiguang.html">网络推广部</a>
                </li>
                <li>
                    <a href="./anli.html">成功案例</a>
                </li>
                <li>
                    <a href="./about.html">关于千寻</a>
                </li>
            </ul>
        </div>
        <div class="visible-xs">
            <div class="nav">
                <p>
                    <a href="../index.html">
                        <img class="pull-left" src="../image/f_logo.png" alt="logo">
                    </a>
                    <span class="pull-right">☰</span>
                </p>
                <ul>
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./jianshe.html">网站建设部</a>
                    </li>
                    <li>
                        <a href="./ruanjian.html">软件开发事业部</a>
                    </li>
                    <li>
                        <a href="./pinpai.html">品牌包装设计部</a>
                    </li>
                    <li>
                        <a href="./tuiguang.html">网络推广部</a>
                    </li>
                    <li>
                        <a href="./anli.html">成功案例</a>
                    </li>
                    <li>
                        <a href="./about.html">关于千寻</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
   <div class="body">
        <h1 class="title">
            新闻动态
        </h1>
        <div class="fr">
            <p>2018年3月26日</p>
        </div>
        <p class="text">
                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        </p>
        <div class="p_img">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522211714222&di=f4dc20cf1355b223c1f16cd55cdd48cb&imgtype=0&src=http%3A%2F%2Fpic15.nipic.com%2F20110803%2F7180732_211822337168_2.jpg" alt="">
        </div>
        <p class="text">
                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        </p>
        <p class="text">
                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        </p>
        <div class="p_img">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522211714222&di=f4dc20cf1355b223c1f16cd55cdd48cb&imgtype=0&src=http%3A%2F%2Fpic15.nipic.com%2F20110803%2F7180732_211822337168_2.jpg" alt="">
        </div>
        <p class="text">
                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        </p>


   </div>
   
  
  
    <div class="container-fluid text-center con8 hidden-xs">
        <p>
            <a href="../index.html">&#x3000;首页&#x3000;</a>&#x3000;|&#x3000;
            <a href="./jianshe.html">网站建设</a>&#x3000;|&#x3000;
            <a href="./anli.html">经典案例</a>&#x3000;|&#x3000;
            <a href="./ruanjian.html">软件开发</a>&#x3000;|&#x3000;
            <a href="./pinpai.html">品牌包装</a>&#x3000;|&#x3000;
            <a href="./tuiguang.html">网络推广</a>&#x3000;|&#x3000;
            <a href="./about.html">关于我们</a>
        </p>
    </div>
    <div></div>
    <!--9-->
    <div class="con9 foot1" style="width: 100%;background-color: #1b1b1b;color: #999;padding: 40px 0 60px;">
        <div class="container">
            <div class="row t222">
                <div class="col-sm-4 hidden-xs">
                    <img src="../image/f_logo.png" alt="logo" style="margin-bottom: 1vw;">
                    <p>网站建设</p>
                    <p>APP开发</p>
                    <p>微商城搭建</p>
                    <p>软件定制开发</p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="../image/f_x.png" alt="logo" style="margin-bottom: 1vw;">
                    <p>电话：0371-53631917</p>
                    <p>传真：0371-53631917</p>
                    <p>上班时间：星期一至星期五</p>
                    <p>公司地址：
                        <a href="./about.html#map">河南省郑州市农业路政七街省汇中心B座7楼</a>
                    </p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img class="t3" src="../image/222.jpg" alt="img" style="margin-bottom: 3vw;">
                    <p>互联网企业领导者</p>
                </div>
            </div>
        </div>
    </div>
    <div class="con9 foot2">
        <div class="container text-center">
            <a href="../index.html">河南千寻网络科技有限公司©</a> 版权所有 豫ICP备16000000000
        </div>
    </div>
</body>

</html>
<script src="../js/jquery-3.1.0.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>
    $('.nav p').click(function () {
        $('.nav ul').stop().slideToggle(400)
    })
</script>