<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="raziel_hu">
    <meta name="keywords" content="千寻网络,网站建设,软件开发,APP开发,品牌包装,网络推广,网站外包">
    <title>千寻网络-网站建设</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../js/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/jianshe.css">

</head>

<body>
    <div class="index_top hidden-xs">
        <div class="container">
            <p class="pull-left">你好，欢迎来到千寻网络！咨询热线：
                <span style="color: #f5b303;font-size: 18px;">18703995755</span>
            </p>
            <p class="pull-right">
                <a href="#">网站建设</a>&#x3000;|&#x3000;
                <a href="#">APP开发</a>&#x3000;|&#x3000;
                <a href="#">微商城搭建</a>&#x3000;|&#x3000;
                <a href="#">软件定制开发</a>
            </p>
        </div>
    </div>
    <nav>
        <div class="container hidden-xs">
            <a href="../index.html">
                <img src="../image/logo.png" alt="千寻网络公司" class="pull-left" title="千寻网络">
            </a>
            <ul>
                <li>
                    <a href="../index.html">首页</a>
                </li>
                <li>
                    <a href="./jianshe.html">网站建设部</a>
                </li>
                <li>
                    <a href="./ruanjian.html">软件开发事业部</a>
                </li>
                <li>
                    <a href="./pinpai.html">品牌包装设计部</a>
                </li>
                <li>
                    <a href="./tuiguang.html">网络推广部</a>
                </li>
                <li>
                    <a href="./anli.html">成功案例</a>
                </li>
                <li>
                    <a href="./about.html">关于千寻</a>
                </li>
            </ul>
        </div>
        <div class="visible-xs">
            <div class="nav">
                <p>
                    <a href="../index.html">
                        <img class="pull-left" src="../image/f_logo.png" alt="logo">
                    </a>
                    <span class="pull-right">☰</span>
                </p>
                <ul>
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./jianshe.html">网站建设部</a>
                    </li>
                    <li>
                        <a href="./ruanjian.html">软件开发事业部</a>
                    </li>
                    <li>
                        <a href="./pinpai.html">品牌包装设计部</a>
                    </li>
                    <li>
                        <a href="./tuiguang.html">网络推广部</a>
                    </li>
                    <li>
                        <a href="./anli.html">成功案例</a>
                    </li>
                    <li>
                        <a href="./about.html">关于千寻</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
              
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white hidden-xs"></div>
            <div class="swiper-button-prev swiper-button-white hidden-xs"></div>
        </div>

    </div>
    <!--2-->
    <div class="con2">
        <div style="color: #000">
            <div class="container text-center">
                <h1 class="title_e">WEB DESIGN</h1>
                <h1 class="title_q">千寻网络网站建设部</h1>
                <p class="title_c">千寻网络采用新一代HTML5标准，基于多层结构体系设计，为您打造企业营销和电子商务网站</p>
                <div class="row con3_2" style="padding: 2vw 15%">
                    <div class="col-md-3 col-xs-6 al">
                        <p class="">企业网站建设</p>
                    </div>
                    <div class="col-md-3 col-xs-6 al">
                        <p class="">品牌网站制作</p>
                    </div>
                    <div class="col-md-3 col-xs-6 al">
                        <p class="">营销推广型</p>
                    </div>
                    <div class="col-md-3 col-xs-6 al">
                        <p class="">移动客户端</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="content1" style="width: 100%;background-color: #000; overflow:hidden">
            <div class="container site ">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="col-xs-3 visible-xs visible-sm"></div>
                        <img src="../image/建设.png" alt="img" width="100%">
                    </div>
                    <div class="col-md-6 col-xs-6 text">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;千寻网络科技有限公司,是专业从事网站建设、 网页设计、 网站推广、软件开发、广告设计的高新技术企业。公司汇集了美术设计，网站开发，网站推广，软件开发的各类人才，均在各自的领域工作5年以上有着极为丰富的经验。<br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;公司致力于为客户打造精美新颖，与客户需求紧密结合的网站，曾为300多个企业和个人提供了优质的网站建设服务。我们制作的网站均由首席优秀设计师操刀设计，力求每一款设计都独具匠心，就加的创意与策划，新颖别致的形象设计，人性化的交互，有力的技术支持，完善的售后服务体制，使我们获得了100%的用户好评。竞争从售后服务开始！我们的目标是要客户盈利。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--3-->
    <div class="con3">
        <div class="text-center fuwu">
            <h1>服务范围</h1>
            <h1>SERVE SCOPE</h1>
            <p>因为专注，所以专业</p>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col-md-4 col-xs-4">
                    <div class="col-md-12" style="position: relative ;height:267px;overflow:hidden;">
                        <img src="../image/j1.png"
                            alt="img" style="width: 100%;">
                    </div>
                    <div class="col-md-12" style="position: relative ;height:267px;overflow:hidden;">
                        <img src="" alt="img" style="width: 100%;opacity: 0">
                        <p style="background-color: rgb(244,124,7);color:#fff;margin: 0;position: absolute;top: 0;width: 100%;height: 267px ; font-size:18px;padding:80px 0 80px 20px;box-sizing:border-box;">
                            支持com\net\cn等各类域名注册购买美国主机、香港主机、国内主机、VPS、独立云主机 不同用户企业邮箱
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="col-md-12" style="position: relative ;height:267px;overflow:hidden;">
                        <img src="../image/1.png" alt="img" style="width: 100%;opacity: 0">
                        <p style="background-color: rgb(244,124,7);color:#fff;margin: 0;position: absolute;top: 0;width: 100%;height: 267px ; font-size:18px;padding:80px 0 80px 20px;box-sizing:border-box;">
                                支持com\net\cn等各类域名注册购买美国主机、香港主机、国内主机、VPS、独立云主机 不同用户企业邮箱
                        </p>
                    </div>
                    <div class="col-md-12" style="position: relative ;height:267px;overflow:hidden;">
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3900896736,155085537&fm=27&gp=0.jpg" alt="img" style="width: 100%;">
                    </div>

                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="col-md-12" style="position: relative ;height:267px;overflow:hidden;">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515401254100&di=662afef08fa96c70bec4fad9e7f18391&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fb3119313b07eca80475336cc9a2397dda1448342.jpg"
                            alt="img" style="width: 100%;">
                    </div>
                    <div class="col-md-12" style="position: relative ;height:267px;overflow:hidden;">
                        <img src="../image/1.png" alt="img" style="width: 100%;opacity: 0">
                        <p style="background-color: rgb(244,124,7);color:#fff;margin: 0;position: absolute;top: 0;width: 100%;height: 267px ; font-size:18px;padding:80px 0 80px 20px;box-sizing:border-box;">
                                支持com\net\cn等各类域名注册购买美国主机、香港主机、国内主机、VPS、独立云主机 不同用户企业邮箱
                        </p>
                    </div>
                </div>
            </div>
         
            <div class="text-center liuc">
                <span class="glyphicon glyphicon-arrow-down" style="font-size: 50px"></span>
            </div>
        </div>
    </div>
    <!--4-->
    <div class="container text-center fuwu">
        <h1>合作流程</h1>
        <h1>COOPERATION PROCESS</h1>
        <p class="bot">懂您所需，做您所想</p>
        <div class="row he_content">
            <div class="col-md-2 col-xs-4">
                <p>提供需求</p>
                <img class="img-circle" src="../image/数字-1.png" alt="img" style="width: 60%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>咨询策划</p>
                <img class="img-circle" src="../image/数字-2.png" alt="img" style="width: 60%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>合同签订</p>
                <img class="img-circle" src="../image/数字-3.png" alt="img" style="width: 60%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>网站建设</p>
                <img class="img-circle" src="../image/数字-4.png" alt="img" style="width: 60%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>客户验收</p>
                <img class="img-circle" src="../image/数字-5.png" alt="img" style="width: 60%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p> 网站上线</p>
                <img class="img-circle" src="../image/数字-6.png" alt="img" style="width: 60%">
            </div>
        </div>
    </div>
    <!--5-->
    <div style="width: 100%;">
        <br>
        <img src="../image/jianshe.png" alt="img" style="width: 100%;">
        <br>
        <br>
        <br>
    </div>



    <!--8-->
    <div class="container-fluid text-center con8 hidden-xs">
        <p>
            <a href="../index.html">&#x3000;首页&#x3000;</a>&#x3000;|&#x3000;
            <a href="./jianshe.html">网站建设</a>&#x3000;|&#x3000;
            <a href="./anli.html">经典案例</a>&#x3000;|&#x3000;
            <a href="./ruanjian.html">软件开发</a>&#x3000;|&#x3000;
            <a href="./pinpai.html">品牌包装</a>&#x3000;|&#x3000;
            <a href="./tuiguang.html">网络推广</a>&#x3000;|&#x3000;
            <a href="./about.html">关于我们</a>
        </p>
    </div>
    <!--9-->
    <div class="con9 foot1" style="width: 100%;background-color: #1b1b1b;color: #999;padding: 40px 0;">
        <div class="container">
            <div class="row t222">
                <div class="col-sm-4 hidden-xs">
                    <img src="../image/f_logo.png" alt="logo" style="margin-bottom: 1vw;">
                    <p>网站建设</p>
                    <p>APP开发</p>
                    <p>微商城搭建</p>
                    <p>软件定制开发</p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="../image/f_x.png" alt="logo" style="margin-bottom: 1vw;">
                    <p>电话：0371-53631917</p>
                    <p>传真：0371-53631917</p>
                    <p>上班时间：星期一至星期五</p>
                    <p>公司地址：
                        <a href="./about.html#map">河南省郑州市农业路政七街省汇中心B座7楼</a>
                    </p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img class="t3" src="../image/222.jpg" alt="img" style="margin-bottom: 3vw;">
                    <p>互联网企业领导者</p>
                </div>
            </div>
        </div>
    </div>
    <div class="con9 foot2">
        <div class="container text-center">
            <a href="../index.html">河南千寻网络科技有限公司©</a> 版权所有 qaixunNetwork All Rights Reserved 豫ICP备160
        </div>
    </div>
</body>

</html>
<script src="../js/jquery-3.1.0.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/swiper-3.4.2.jquery.min.js"></script>
<script src="../js/jianshe.js"></script>
<script>
    $('.nav p').click(function () {
        $('.nav ul').stop().slideToggle(400)
    })
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        autoplay: 5000,
        loop: true
    });
    $.get("http://192.168.1.107:81/qianxun/?s=index/banner/queryAll&typeid=2",function(result){
    console.log(result.data);
    var html = "";
    result.data.forEach(function(item){
        html+="<div class=\"swiper-slide\" style=\"background-image:url("+item.image+")\"></div>";
    });
    $(".swiper-wrapper").html(html);
})
</script>