nav li:nth-child(7) {
    background-color: #eee;
    border-bottom:2px solid red;
}
ul{
    padding: 0;
}
.fuwu h1{
    margin-top: 20px;
font-size: 26px;
padding-bottom: 24px;
border-bottom: 2px dashed rgb(207, 206, 206)
}
.fuwu p{
    padding: 10px 10px 10px;
}
.advantage{
    width: 100%;
}
.tel {
    width:90%;
    margin: 30px auto 100px;
    text-align: center;
    border: 1px solid #eee;
    padding: 10px;
}
.advantage>img{
    width: 80%;
    display: block;
    margin: 20px auto 30px;
}
#partner_p{
    background: #fff;
}
.partner{
    font-size: 0;
    text-align: center;
}
.partner img{
    width: 140px;
    margin: 2px;
    padding: 3px;
    border: 1px solid #eaeaea;
}
#map{
    margin: 0 auto;
    height: 500px;
}
.amap-adcombo-close {
    position: absolute;
    top: 4px;
    right: 4px;
    background: url(../image/关闭.png) center center no-repeat;
    width: 18px;
    height: 18px;
    text-indent: -9999em;
}
.tel img,.tel div{
 display: inline-block;

}
.tel_img{
    width: 60px;
    height: 60px;
}
.tel>div{
    font-size: 30px;
    line-height: 50px;
    margin-left: 10px;
    vertical-align: middle;
}
#xian{
    display: block;
    font-size: 20px;
    line-height: 20px;
}
.advantage li{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.advantage  .num{
    font-size: 30px;
    /* font-style: italic; */
    font-weight: bold;
    float: left;
    margin:5px 10px ;
    padding:5px 10px;
    color: tomato;
}
.advantage .title{
   line-height: 30px;
   font-size: 18px;
   font-weight: bold;
}
