<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="raziel_hu">
    <meta name="keywords" content="千寻网络,网站建设,软件开发,APP开发,品牌包装,网络推广,网站外包">
    <title>千寻网络-网站建设</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../js/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/jianshe.css">
    <script src="../js/vue.js"></script>

</head>

<body>
        
    <nav>
       
        <div class="visible-xs">
            <div class="nav">
                <p>
                    <a href="../index.html">
                        <img class="pull-left" src="../image/f_logo.png" alt="logo">
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="banner">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(../image/网站建设.png)">
                    <h1>123456</h1>
                </div>
                <div class="swiper-slide" style="background-image:url(../image/网站建设.png)">
                    <h1>123456</h1>
                </div>
                <div class="swiper-slide" style="background-image:url(../image/网站建设.png)">
                    <h1>123456</h1>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white hidden-xs"></div>
            <div class="swiper-button-prev swiper-button-white hidden-xs"></div>
        </div>

    </div>
    <!--2-->
    <div class="app" @click="over">
            <div  class="t_nav" :class="{show:navshow}">
                    <span  @click.stop="show">☰</span>
                    <ul  >
                        <li>
                            <a href="../index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                        </li>
                        <li>
                            <a @click.stop="" href="./jianshe.html">网&nbsp;&nbsp;站&nbsp;&nbsp;建&nbsp;&nbsp;设&nbsp;&nbsp;部</a>
                        </li>
                        <li>
                            <a href="./ruanjian.html">软件开发事业部</a>
                        </li>
                        <li>
                            <a href="./pinpai.html">品牌包装设计部</a>
                        </li>
                        <li>
                            <a href="./tuiguang.html">网&nbsp;&nbsp;络&nbsp;&nbsp;推&nbsp;&nbsp;广&nbsp;&nbsp;部</a>
                        </li>
                        <li>
                            <a href="./anli.html">成&nbsp;&nbsp;&nbsp;&nbsp;功&nbsp;&nbsp;&nbsp;&nbsp;案&nbsp;&nbsp;&nbsp;&nbsp;例</a>
                        </li>
                        <li>
                            <a href="./about.html">关&nbsp;&nbsp;&nbsp;&nbsp;于&nbsp;&nbsp;&nbsp;&nbsp;千&nbsp;&nbsp;&nbsp;&nbsp;寻</a>
                        </li>
                    </ul>
                </div>
    <div class="con2">
        <div style="color: #000">
            <div class="container text-center">
                <h1 class="title_e">WEB DESIGN</h1>
                <h1 class="title_q">千寻网络网站建设部</h1>
                <p class="title_c">千寻网络采用新一代HTML5标准，基于多层结构体系设计，为您打造企业营销和电子商务网站</p>
                <div class="row con3_2" style="padding: 2vw 15%">
                   
                </div>
            </div>
        </div>
        <div class="content1" style="width: 100%;background-color: #000; overflow:hidden">
            <div class="container site ">
                <div class="row">
                    <div class="col-md-12 ">
                       
                        <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1336279331,4237106119&fm=27&gp=0.jpg" alt="img" width="40%" style="float:left;margin:10px">
                        千寻网络科技有限公司,是专业从事网站建设、 网页设计、 网站推广、软件开发、广告设计的高新技术企业。公司汇集了美 术设 千寻网络科技有限公司,是专业从事网站建设、 网页设计、 网站推广、软件开发、广告设计的高新技术企业
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--3-->
    <div class="con3">
        <div class="text-center fuwu">
            <h1>服务范围</h1>
            <h1>SERVE SCOPE</h1>
            <p>因为专注，所以专业</p>
        </div>

        <div class="container">
            <div class="row visible-xs visible-sm">
                
              <div class="col-xs-12">
                    <img src="../image/1.png" alt="img" style="width: 40%;border: 1px solid red;float:left;margin:10px">
                        文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                        文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字
                </div>
                <div class="col-xs-12">
                        <img src="../image/1.png" alt="img" style="width: 40%;border: 1px solid red;float:right;margin:10px">
                            文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                            文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字
                    </div>
                    <div class="col-xs-12">
                            <img src="../image/1.png" alt="img" style="width: 40%;border: 1px solid red;float:left;margin:10px">
                                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字 文字文字文字文字文字文字文字文字文字
                        </div>
                         
               
            </div>
        </div>
    </div>
    <!--4-->
    <div class="container text-center fuwu">
        <h1>合作流程</h1>
        <h1>COOPERATION PROCESS</h1>
        <p class="bot">懂您所需，做您所想</p>
        <div class="row he_content">
            <div class="col-md-2 col-xs-4">
                <p>提供需求</p>
                <img class="img-circle" src="../image/1.png" alt="img" style="width: 70%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>咨询策划</p>
                <img class="img-circle" src="../image/1.png" alt="img" style="width: 70%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>合同签订</p>
                <img class="img-circle" src="../image/1.png" alt="img" style="width: 70%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>网站建设</p>
                <img class="img-circle" src="../image/1.png" alt="img" style="width: 70%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p>客户验收</p>
                <img class="img-circle" src="../image/1.png" alt="img" style="width: 70%">
            </div>
            <div class="col-md-2 col-xs-4">
                <p> 网站上线</p>
                <img class="img-circle" src="../image/1.png" alt="img" style="width: 70%">
            </div>
        </div>
    </div>
    <!--5-->
    <div style="width: 100%;">
        <br>
        <img src="../image/1.png" alt="img" style="width: 100%;height: 400px;">
        <br>
        <br>
        <br>
    </div>



    <!--8-->
    <div class="container-fluid text-center con8 hidden-xs">
        <p>
            <a href="../index.html">&#x3000;首页&#x3000;</a>&#x3000;|&#x3000;
            <a href="./jianshe.html">网站建设</a>&#x3000;|&#x3000;
            <a href="./anli.html">经典案例</a>&#x3000;|&#x3000;
            <a href="./ruanjian.html">软件开发</a>&#x3000;|&#x3000;
            <a href="./pinpai.html">品牌包装</a>&#x3000;|&#x3000;
            <a href="./tuiguang.html">网络推广</a>&#x3000;|&#x3000;
            <a href="./about.html">关于我们</a>
        </p>
    </div>
    <!--9-->
    <div class="con9 foot1" style="width: 100%;background-color: #1b1b1b;color: #999;padding: 40px 0;">
        <div class="container">
            <div class="row t222">
                <div class="col-sm-4 hidden-xs">
                    <img src="../image/f_logo.png" alt="logo" style="margin-bottom: 1vw;">
                    <p>网站建设</p>
                    <p>APP开发</p>
                    <p>微商城搭建</p>
                    <p>软件定制开发</p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="../image/f_x.png" alt="logo" style="margin-bottom: 1vw;">
                    <p>电话：0371-53631917</p>
                    <p>传真：0371-53631917</p>
                    <p>上班时间：星期一至星期五</p>
                    <p>公司地址：
                        <a href="./about.html#map">河南省郑州市农业路政七街省汇中心B座7楼</a>
                    </p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img class="t3" src="../image/222.jpg" alt="img" style="margin-bottom: 3vw;">
                    <p>互联网企业领导者</p>
                </div>
            </div>
        </div>
    </div>
    <div class="con9 foot2">
        <div class="container text-center">
            <a href="../index.html">河南千寻网络科技有限公司©</a> 版权所有 qaixunNetwork All Rights Reserved 豫ICP备160
        </div>
    </div>
</div>
</body>

</html>
<script src="../js/jquery-3.1.0.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/swiper-3.4.2.jquery.min.js"></script>
<script src="../js/jianshe.js"></script>
<script src="../js/my.js"></script>
<script>
    $('.nav p').click(function () {
        $('.nav ul').stop().slideToggle(400)
    })
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        autoplay: 5000,
        loop: true
    });
</script>